
body,
html {
margin:0;
padding:0;
color:#000;
background:#f6eeda;
}
#main {
background:#fff;
float:right;
width:80%;
max-width:600px;
}
#nav {
background:#f6f6f6;
float:left;
width:20%;
max-width:150:px;
text-align:center;
}
#wrap {
width:750px;
margin:0 auto;
background:#90c;
}
#nav,#wrap{
    display:table-cell;
}
#cols{
    display:table;
    margin-left: auto;
    margin-right: auto;
    width: 46em;
}
