/*everything to github.css is Scott's*/
body {
    /*fonts to use globally*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.6;
  padding-top: 2px;
  padding-bottom: 10px;
  background-color: white;
  /*if you want padding on the borders of the screen*/
  /*padding: 30px;*/
}
.cols{
    /*container for both columns. changes (I don't think) apply*/
    height: auto;
    overflow: hidden;
}
.left{
    /*really the right column*/
    /*float shouldn't be touched for two column*/
    float: none;
    /*background: #ffffff;*/
    /*sticks to left side of page*/
    width: auto;
    /*overflow should stay hidden*/
    overflow: hidden;
}
.right{
    /*really the menu/left column*/
    width: 180px;
    float: left;
    /*menu background color*/
    background: #f6f6f6;
    border: 1px solid #aaaaaa;
    text-align: left;
    /*how large are the menu links?*/
    font-size: 0.9em;
    line-height: 0.6em;
    /*how tall is the menu? I tried to make this the height of content but too*/
    /*hard for me, inexperienced in CSS*/
    height: 100%;
}
.right h3{
    /*the menu section formatting*/
    /*black, 1px underline*/
    color: black;
    text-decoration: none;
    padding-bottom: 5px;
    font-size: 1.2em;
    border-bottom: 1px solid;
    line-height: 1.1em;
}
.right p{
    /*menu paragraph section. for indent*/
    padding-left: 10px;
    font-size: 13pt;
}
.right a{
    /*menu link section. for decoration*/
    text-decoration: none;
}
.right a:hover{
    /*menu link hover -- change color, dotted underline*/
    color: #244fb3;
    border-bottom: 1px dotted black;
}

ul {
    line-height: 1.25em;
}

@media screen and (max-width: 530px) {
    .left{
        clear: both;
    }
    .right{
        clear: both;
        height: auto;
        width: 100%;
        text-align: center;
    }
}

